#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# use color with ls
alias ls="command ls --color"
alias ll="ls -la --color"

# sync dotfiles
alias dotsync="source ~/dotfiles/bootstrap.sh"

# Always enable colored `grep` output
alias grep='grep --color=auto'

# Get macOS Software Updates
alias update='sudo pacman -Syu'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"
